<nav class="bg-white shadow-sm p-4 flex justify-between items-center">
  <div class="flex justify-between items-center w-5xl mx-auto">
    <img src="assets/logo.png" alt="Logo Insigniafy" class="h-10" />
    <ul class="flex space-x-4">
      <li>
        <a routerLink="/certificados"
        class="text-gray-700 hover:text-primary-800 flex items-center gap-1"
        routerLinkActive="text-primary-800 font-semibold">
          <i class="ph ph-medal"></i>
          Lista de certificados
        </a>
      </li>
      <li>
        <a routerLink="/gerar-certificado"
        class="text-gray-700 hover:text-primary-800 flex items-center gap-1"
        routerLinkActive="text-primary-800 font-semibold">
          <i class="ph ph-circles-three-plus"></i>
          Gerar certificado
        </a>
      </li>
    </ul>
  </div>
</nav>
